.containerDetail{
    max-width: 700px;
    margin: 3rem auto;
    border-radius: 1rem;
    background: url('../../assets/img/pokeball.svg') no-repeat;
    background-position: right -1.5rem top -1.5rem;
    background-size: 16rem;

    .detailCard{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: inherit;
        z-index: 2;
    }

    


}