.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    min-height: calc(100vh - 96px);
    background-image: url("../assets/img/fondo_landing.png");
    height: 937px;
    background-size: 100% 100%;

    .img-main{
        margin:0 0 0 0

    }
}