.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    min-height: calc(114vh - 88px);
    background-image: url("../assets/img/fondo_landing.png");
    height: 937px;
    background-size: 100% 100%;
}