.pokemonCard {
    background: url('../../assets/img/fondoColor.jpg') no-repeat;
    border-radius: 2.3125rem;
    display: flex;
    justify-content: space-around;
    
    button {
        display: flex;
        background: url('../../assets/img/pokeball.svg') no-repeat;
        border-radius: 0.3125rem;
        transition: transform 0.2s;
        text-decoration: none;
        color:black;
        font-family: 'Ubuntu', sans-serif;
        font-size:18px;
        border: none;
        cursor: pointer;

        h3{
            color:black
        }

        &:focus,
        &:hover {
            transform: translateY(-0.25rem);
        }

        .image {
            display: block;
            margin: 0 auto;
            top: -1.25rem;
            right: 1.25rem;

            img {
                width: 8.1251rem;
            }
        }
    }
}

