.primary {
	background: rgba(217, 30, 24, 1);
    border: 0 none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-size: 22px;
    margin: -37px 1px;
    padding: 33px 14px;
    width: 118px;

	&:hover,
	&:focus {
		box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(217, 30, 24, 1);
	}
}

.secundary {
	border-radius: 50%;
    border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
    font-weight: bold;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 900;
    text-align: center;
	transition: all .3s;
	padding: 25px 10px 22px 10px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
        background: rgba(44, 130, 201, 1);     
        z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background: rgba(247, 202, 24, 1);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color:  rgba(44, 130, 201, 1);  
		&:before {
			width: 100%;
		}
	}
}
