.page-principal{
    margin: 3.5rem 0 3.5rem 0;

    .cleanContainer{
        display: flex;
        justify-content: flex-end;
        max-width: 1020px;
        margin: 0px auto 1.5rem;
    
        .cleanFilter{
            display: flex;
            font-size: 1.2rem;
            padding: 0;
            border: 0;
            font-weight: bold;
            text-decoration: underline;
            background: transparent;
            color: rgba(217, 30, 24, 1);
            cursor: pointer;
            font-family: "Quicksand", sans-serif;
        }          
    }
}


