.dropdown select{
    padding: 15px;
    border: 2px solid rgba(44, 130, 201, 1);
    border-radius: 12px;
    margin: 20px;
    width: 20%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    text-overflow: '';
    -webkit-appearance: button; 
    font-family: "Quicksand", sans-serif;  
    outline: none;
}