.divTypes{
    max-width: 900px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .typesFilterButton{
        background: transparent;
        border: 0;
    }

    span {
        font-size: 0.75rem;
        color: black;
        font-family: "Quicksand", sans-serif;  
    }

    .imageType{
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10rem;
        margin-bottom: .25rem;
        cursor: pointer;
        transition: all .2s;
        border: 1px solid #ff7541;
        background-color:#ff7541
    }
}


