.navBar{
    position: relative;
    height: 4rem;
    max-width: 957px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 2rem;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content:space-between;

    background: radial-gradient(circle, rgba(63,251,167,1) 0%, rgba(122,70,252,1) 100%);
    box-shadow: 0rem 0.1875rem 0.375rem var(--shadow-header);

    .homeButton{
        background: transparent;
        border: 0;
    }

    .imgHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10rem;
        margin-bottom: .25rem;
        cursor: pointer;
    }
}