.navBar{
    position: relative;
    height: 7.2rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: rgba(236, 240, 241, 1);
    box-shadow: 0rem 0.1875rem 0.375rem rgba(108, 122, 137, 1);

    .homeButton{
        background: transparent;
        border: 0;
    }

    .imgHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10rem;
        margin-bottom: .25rem;
        cursor: pointer;
    }
}