.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 30px;
	min-height: calc(100vh - 96px);
	.loading {
		font-size: 2em;
		font-weight: bold;
		margin-top: 30px;
		font-family: "Quicksand", sans-serif;
	}
}
