.search {
    width: 22rem;
    margin: 0 auto 2rem auto;
    display: flex;
    position: relative;  

    div {
        width: 100%;

        input {
            -webkit-appearance: none;
            font-size: initial;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 3.5rem;
            width: 23.2rem;
            margin-left: -18px;
            border-radius: 2.5rem;
            outline: none;
            color: black;
            border: 2px solid  rgba(44, 130, 201, 1);  
            background-color: rgba(245, 245, 245, 0.527);
            transition: all .2s;
            font-family: "Quicksand", sans-serif;  

            &:focus {
                border-color:#006eab
            }

            &::placeholder {
                font-size: 1rem;
                color: gray;
                opacity: 1;
            }

            &::-ms-input-placeholder {
                font-size: 1rem;
                color: black;
            }

            &:-ms-input-placeholder {
                font-size: 1rem;
                color: black;
            }
        }

        button {
            font-size: 12px;
            border: 0;
            text-align: center;
            border-radius: 0.25rem;
            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translate(0, -50%);
            background: transparent;
            cursor: pointer;
        }
    }
}

@media (max-width: 425px) {
    .search {
        width: 100%;
    }
}

