.search {
    width: 22rem;
    margin: 0 auto 2rem auto;
    display: flex;
    position: relative;

    div {
        width: 100%;

        input {
            -webkit-appearance: none;
            font-size: initial;
            flex: 1;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 3rem;
            width: 100%;
            border-radius: 0.5rem;
            outline: none;

            color: black;
            border: 2px solid rgb(255, 123, 0);
            background-color: rgba(245, 245, 245, 0.527);

            transition: all .2s;

            &:focus {
                border-color:black; 
            }

            &::placeholder {
                font-size: 1rem;
                color: gray;
                opacity: 1;
            }

            &::-ms-input-placeholder {
                font-size: 1rem;
                color: black;
            }

            &:-ms-input-placeholder {
                font-size: 1rem;
                color: black;
            }
        }

        button {
            font-size: 12px;
            border: 0;
            text-align: center;
            border-radius: 0.25rem;
            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translate(0, -50%);
            background: transparent;
            cursor: pointer;
        }
    }
}

@media (max-width: 425px) {
    .search {
        width: 100%;
    }
}

